<div class="recent-updates-card">
  <div class="header">
    <h2>Recent Updates</h2>
    <button class="more-button">
      <i class="bi bi-three-dots-vertical"></i>
    </button>
  </div>
  <ul class="updates-list">
    <li class="update-item">
      <div class="avatar">
        <i class="bi bi-person-fill"></i>
      </div>
      <div class="details">
        <p class="message">User008 <br />followed you</p>
        <p class="time">5 min ago</p>
      </div>
    </li>
    <li class="update-item">
      <div class="avatar">
        <i class="bi bi-chat-dots-fill"></i>
      </div>
      <div class="details">
        <p class="message">
          David001<br />
          liked your event
        </p>
        <p class="time">3 min ago</p>
      </div>
    </li>
    <li class="update-item">
      <div class="avatar">
        <i class="bi bi-person-fill"></i>
      </div>
      <div class="details">
        <p class="message">
          EmmyWill<br />
          followed you
        </p>
        <p class="time">20 min ago</p>
      </div>
    </li>
    <li class="update-item">
      <div class="avatar">
        <i class="bi bi-heart-fill"></i>
      </div>
      <div class="details">
        <p class="message">Sarah_L <br />liked your event</p>
        <p class="time">10 min ago</p>
      </div>
    </li>
    <li class="update-item">
      <div class="avatar">
        <i class="bi bi-person-fill"></i>
      </div>
      <div class="details">
        <p class="message">User008 <br />followed you</p>
        <p class="time">5 min ago</p>
      </div>
    </li>
  </ul>
</div>
