.app-container {
  background-color: #060b130a;
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow-x: hidden;
  flex-direction: column;
}

app-header {
  width: 100%;
  box-sizing: border-box;
  padding: 16px 20px;
  z-index: 10;
}

.main-layout {
  display: flex;
  flex-grow: 1;
}

app-sidebar {
  width: 200px;
  box-sizing: border-box;
}

.content {
  flex-grow: 1;
  background-color: white;
  padding: 40px;
  margin: 40px;
  box-sizing: border-box;
  border-radius: 20px;
}
